{% extends "layout.html" %}
{% block content %}
<div class="breadrrumb_wrap">
    <div class="container">
        <ol id="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="index.html" class="home"><span itemprop="name">Ana səhifə</span></a>
                <span itemprop="position" content="1"><i class="fa fa-angle-right"></i></span>
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href=""><span itemprop="name">Tarixçə</span></a>
                <span itemprop="position" content="2"></span>
            </li>
        </ol>
    </div>
</div>
<div class="container history">
    <div class="page_title_wrap">
        <h1 class="page_title">Tarixçə</h1>
        <div class="user">
            <div class="user_img">
                <img src="./images/user.png">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                </div>
            </div>
            <div class="user_info">
                <span>info@marcom.az</span>
                <a href=""><h2>Jesse Pinkman</h2></a>
            </div>
        </div>
    </div>
    <div class="page_desc visible-xs">Latin words, combined with a handful of model sentence structures, 
        to generate Lorem Ipsum which looks reason-able. The generated Lorem Ipsum is therefore always.</div>
    <div class="tabs_wrap">
        <div class="tabs tabs1">
            <a class="active">Bu ay</a>
            <a>Son 1 il</a>
            <a>Son 3 il</a>
        </div>
        <div class="date"><span>11.02.2020</span>-<span>11.05.2020</span></div>
    </div>
	<div class="shopping-cart row">
		<div class="header">
			<div class="col-md-4 hidden-xs">Məhsul</div>
			<div class="col-md-8 hidden-xs">
				<div class="row">
					<div class="col-md-3">Qiymət</div>
					<div class="col-md-3 count">Say</div>
					<div class="col-md-3 col-md-offset-2">Cəm</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="item">
				<div class="row">
					<div class="col-md-4 ls">
						<div class="img"><img src="/images/sample/basket_item.png"/></div>
						<div class="detail">
							<div class="no">#334</div>
							<div class="title">A Year of Fortnightly Flowers</div>
							<div class="desc">Oyuncaq ayı x2
								Şarlar x2
								Şokolad x1
								Vaza x1</div>
						</div>
					</div>
					<div class="col-md-8 rs">
						<div class="row">
							<div class="col-md-3 col-xs-4"><label class="visible-xs">Qiymət</label>80 ₼</div>
							<div class="col-md-3 col-xs-4 count">
								<label class="visible-xs">Say</label>
								<div>3</div>
							</div>
							<div class="col-md-4 col-xs-4 col-md-offset-2"><label class="visible-xs">Cəm</label>240 ₼</div>
						</div>
						<div class="line visible-xs"></div>
						<div class="text_on_cart">
							Contrary to popular belief,  is Ipsum...
						</div>
						<a class="order_again">Sifarişi təkrarla</a>
					</div>
				</div>
				<div class="print">
					<div class="no">#0009421</div>
					<a></a>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="item">
				<div class="row">
					<div class="col-md-4 ls">
						<div class="img"><img src="/images/sample/basket_item.png"/></div>
						<div class="detail">
							<div class="no">#334</div>
							<div class="title">A Year of Fortnightly Flowers</div>
						</div>
					</div>
					<div class="col-md-8 rs">
						<div class="row">
							<div class="col-md-3 col-xs-4"><label class="visible-xs">Qiymət</label>80 ₼</div>
							<div class="col-md-3 col-xs-4 count">
								<label class="visible-xs">Say</label>
								<div>2</div>
							</div>
							<div class="col-md-4 col-xs-4 col-md-offset-2"><label class="visible-xs">Cəm</label>240 ₼</div>
						</div>
						<div class="line visible-xs"></div>
						<a class="order_again">Sifarişi təkrarla</a>
					</div>
				</div>
				<div class="print">
					<div class="no">#0009421</div>
					<a></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}