{% extends "layout.html" %}
{% block content %}
<div class="home_slider">
	<div class="slider">
		<div>
			<div class="item">
				<a class="img"><img src="images/slider-img.svg" /></a>
				<div class="container">
					<div>
						<div class="title"><span style="color: #FF523E;">8 Mart</span><br> Kampaniyası</div>
						<div class="desc">Latin words, combined with a handful of model sentence
							structures, to generate Lorem Ipsum which looks reasonable.
							The generated Lorem Ipsum is therefore always.</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="item">
				<a class="img"><img src="images/slider-img.svg" /></a>
				<div class="container">
					<div>
						<div class="title"><span style="color: #FF523E;">8 Mart</span><br> Kampaniyası</div>
						<div class="desc">Latin words, combined with a handful of model sentence
							structures, to generate Lorem Ipsum which looks reasonable.
							The generated Lorem Ipsum is therefore always.</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="item">
				<a class="img"><img src="images/slider-img.svg" /></a>
				<div class="container">
					<div>
						<div class="title"><span style="color: #FF523E;">8 Mart</span><br> Kampaniyası</div>
						<div class="desc">Latin words, combined with a handful of model sentence
							structures, to generate Lorem Ipsum which looks reasonable.
							The generated Lorem Ipsum is therefore always.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="tabs_wrap">
        <div class="tabs tabs1" data-target=".product_list_tab">
            <a class="active">Yeni məhsullar</a>
            <a>Endirimli məhsullar</a>
            <a>Avrobuketlər</a>
            <a>Toy Buketləri</a>
            <a class="gifts">Hədiyyələr</a>
        </div>
        <div class="d_dropdown">
            <span class="sort">Sort <img src="images/sort.svg" /></span>
            <div class="drop_content">
                <a>Reytinq üzrə</a>
                <a>Ucuzdan bahaya</a>
                <a>Bahadan ucuza</a>
            </div>
        </div>
    </div>
    <div class="product_list_tab tabs_content">
        <div class="row active product_list" data-match-height=".item">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="product-page.html" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites a"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <a class="banner">
                    <img src="./images/banner.png">
                    <span class="special_price">20% <br />Endirim</span>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 banner_m">
                <a class="banner">
                    <img src="./images/banner1.png">
                    <span class="special_price black">20% <br />Endirim</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
        </div>
        <div data-match-height=".item" class="row product_list">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
        </div>
        <div data-match-height=".item" class="row product_list">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
        </div>
        <div data-match-height=".item" class="row product_list">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
        </div>
        <div data-match-height=".item" class="row product_list">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img1.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img2.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item">
                        <span class="img"><img src="images/product-img3.png"></span>
                        <span class="title">A Year of Fortnightly Flowers</span>
                        <span class="price old_price">45 ₼</span>
                        <span class="price">30 ₼</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="more_btn">Daha çox</a>
</div>
<div class="form subscribe">
    <div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form>
					<input name="email" class="validate[required,custom[email]]" type="email" placeholder="E-mail" />
					<button type="submit" class="">Abunə ol</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}