{% extends "layout.html" %}
{% block content %}
<div class="breadrrumb_wrap">
    <div class="container">
        <ol id="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="index.html" class="home"><span itemprop="name">Ana səhifə</span></a>
                <span itemprop="position" content="1"><i class="fa fa-angle-right"></i></span>
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href=""><span itemprop="name">Tərəfdaşlar</span></a>
                <span itemprop="position" content="2"></span>
            </li>
        </ol>
    </div>
</div>
<div class="container media_list">
    <div class="page_title_wrap">
        <h1 class="page_title">Tərəfdaşlar</h1>
    </div>
    <div class="row" data-match-height=".media">
		{% for i in 0..7 %}
        <div class="col-md-6">
            <div class="media">
                <a class="media_img" data-fancybox="partners" href="images/sample/partners/list_{{i%3+1}}.png"><img src="images/sample/partners/list_{{i%3+1}}.png" /></a>
                <div class="media_text">
                    <span class="text_before">
                        <div class="logo"><img src="images/sample/partners/logo_{{i%3+1}}.png" /></div>
                    </span> 
                    its medieval origins to the digital era, learn
                    everything there is to know about the digital.
                </div>
            </div>
        </div>
		{% endfor %}
   </div>
</div>
{% endblock %}